<div id="giscus-comments" style="min-height: 100px;"></div>
<script src="https://giscus.app/client.js"
        data-repo="swingtempo/swingtempo.github.io"
        data-repo-id="R_kgDOTbMjRw"
        data-category="General"
        data-category-id="DIC_kwDOTbMjR84DCDL0"
        data-mapping="og:title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
